%h1 Edit « #{@room.name} »
%section
  %form{action: "/rooms/#{@room.id}", method: 'post'}
    %p
      %label{for: 'room_name'} Name
      %input{type: 'text', value: @room.name, name: 'room[name]', id: 'room_name'}

    %p
      %label{for: 'room_color'} Color
      %input{type: 'text', value: @room.color, color: 'room[color]', id: 'room_color'}

    %p
      %input{type: 'submit', name: 'Save', value: 'Save'}
