%header
  %p
    %a{:href => '/'}
      %img.logo{:src => "/images/logo-small.png"}

  - if current_user.email
    %ul
      %li= current_user.email
      %li= render_login_logout 
  
  %nav
    %ul
      - if current_user.admin?
        %li
          %a{:href => "/users"} Users
        %li
          %a{:href => "/signup"} Add user
      %li
        %a{:href => "/rooms"} Rooms
  

