%section
%div#eventDialog.dialog.ui-helper-hidden
  %form
    %div
      %p
        %label Title
        %input#title.field{:type => 'text'}
      %p
        %label Room
        %span#rooms
      %ul
        %li
          %label Begin
          %input#begin.field{:type => 'text'}
        %li
          %label End
          %input#end.field{:type => 'text'}
