%section
%div#eventDialog.dialog.ui-helper-hidden
  %form
    %div
      %p
        %label Title
        %input#title.field{:type => 'text'}
      %p#rooms
      %p
        %label Begin
        %input#begin.field{:type => 'text'}
      %p
        %label End
        %input#end.field{:type => 'text'}
