!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title= "Resa"
    %link{:href => '/stylesheets/base.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    = haml(:_header, :layout => false)
    
    %section#content
      = yield

    = haml(:_footer, :layout => false)

    %script{:src => 'javascripts/jquery.min.js', :type => 'text/javascript'}
