!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title= "Resa"

  %body
    %header
      %h1 Resa
      - if current_user.email
        %div= current_user.email
      %div= render_login_logout
      - if current_user.admin?
        %div
          %a{:href => "/users"} Users
          |
          %a{:href => "/signup"} Add user

    =yield

    %footer
      cody pony rox

    %script{:src => 'javascripts/jquery.min.js', :type => 'text/javascript'}
