html {overflow-y: auto;}
body {
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

.brand a img {height: 18px;}

#main {
    padding-top: 40px;
    margin: 10px;
}

#sinatra-authentication-login-logout *{
    display: inline;
}

.username {
    color: #ccc;
}
