/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }
a img { border: none; }

/* Body */
body { padding: 35px 10px 25px 10px; font: normal 12px/14px Helvetica; color: #333; }
a { color: #b0dd65; text-decoration: none; }
a:hover { text-decoration: underline; }

/* Header */
header { position: fixed; z-index: 10; top: 0; left: 0; right: 0; height: 30px; background: #7d7e7d; background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); background: linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); }
header p { float: left; margin: 0 0 0 20px; }

header nav { float: right; margin: 0 10px 0 0; padding: 0 10px 0 0; border-right: 1px solid #b0dd65; }
header nav ul { display: inline; }
header nav ul li { display: inline; color: #fff; line-height: 30px; }
header nav ul li:after { content: "•"; padding: 0 5px; }
header nav ul li:last-child:after { content: ""; padding: 0; }

header > ul { float: right; margin: 0 10px 0 0; }
header > ul li { display: inline; color: #fff; line-height: 30px; }
header > ul li div { display: inline; }
header > ul li div a { padding: 0 5px; }


/* Footer */
footer { position: fixed; z-index: 10; bottom: 0; left: 0; right: 0; height: 20px; background: #7d7e7d; background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); background: linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);}
footer p { padding: 0 10px 0 0; line-height: 20px; text-align: right; color: #fff; }
footer #legend { float: left; margin: 0 10px; }
footer #legend li { display: inline; padding: 0 15px 0 5px; color: #fff; vertical-align: top; line-height: 20px;}
footer #legend li span { font: normal 13px/20px Arial; }


/* custom fullcalendar */
.fc-state-highlight { background-color: rgba(176, 221, 101, 0.2) }
.fc-button-content { height: 20px; line-height: 20px; }
.fc-header-title h2 { font: bold 15px/20px Helvetica; }
.fc-event-skin { font: normal 12px/15px Helvetica; color: #333; }

#eventDialog label { display: inline-block; width: 50px; }
#eventDialog ul { margin: 10px 0 0 0; }
#eventDialog ul li { display: inline-block; width: 49%; }
#eventDialog ul li label { width: auto; }
#eventDialog ul li input { width: 60px; }


/* Gritter */
.gritter-with-image, .gritter-without-image { font-family: Helvetica; }



/* login form */
#sinatra_authentication { width: 195px; margin: 25px auto 0 auto; }
#sinatra_authentication h1 { font: bold 25px/50px Helvetica; text-transform: uppercase; text-align: center; color: #b0dd65 }
#sinatra_authenticatio form { width: 220px; display: block; margin: 17px auto 0 auto; padding: 0 0 0 18px; }
#sinatra_authentication form .field { position: relative; display: block; width: 219px; height: 64px; margin: 0 0 0 -13px; background: url("/images/input.png") no-repeat scroll 0 11px transparent; border: none; }
#sinatra_authentication form .field label { position: absolute; z-index: 1; top: 13px; left: 2px; width: 176px; height: 40px; margin: 12px 0 0 11px; padding: 1px 10px 0; font: normal 9px/40px Arial,'Helvetica Neue'; color: #869CB2; }
#sinatra_authentication form .field input { position: absolute; z-index: 2; top: 0; left: 0; width: 176px; margin: 12px 0 0 11px; padding: 8px 10px 9px 10px; border: none; font: normal 20px Arial,'Helvetica Neue'; color: #384A5D; cursor: pointer; background: transparent; }
#sinatra_authentication .sinatra_authentication_link { display: none; }
#sinatra_authentication .buttons input { width: 100%; height: 30px; margin: 20px 0 0 0; }

